.container {
    background-image: url('./bg_login.png');
    position: absolute; 
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: bold;
    background-attachment: fixed;
    background-position: center;
    padding: 50px 15px 15px;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    width: 400px;
    min-width: 270px;
    margin: auto;
    margin-top: 22vh;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #A6CAF0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img{
    max-width: 160px;
}

.form {
    font-weight: bold !important;
}

.form input {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.btn button {
    width: 150px;
}

.version {
    text-align: right;
    color: #bbb;
}

@media(max-width: 420px) {
    .card {
        width: 100%;
    }


}