.form_section {
    text-align: center;
    padding: 2rem;
}

.form_title {
    color: var(--verde-escuro);
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 15%; 
}

.form_container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

.form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form input, .form textarea {
    border: 2px solid var(--verde-escuro);
    border-radius: 25px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 100%;
}

.form textarea {
    height: 120px;
    resize: none;
}

.checkbox_container{
    display: flex;
    align-items: start;
    font-size: 0.75rem;
    color: black;
    gap: 1rem;
}

.checkbox_container input{
    cursor: pointer;
    width: 2rem;
    height: 1rem;
}

.checkbox_container label{
    text-align: start;
}

.submit_button {
    background-color: var(--verde-escuro);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit_button:hover {
    background-color: #0b880b;
}

.map iframe{
    min-width: 300px;
    height: 500px;
    border: 0;
}

@media(max-width: 800px) {
    .form_container{
        flex-direction: column;
        align-items: center;
    }

    .map {
        width: 100%;
        height: 300px;
    }
}