.dataItem {
    width: 48%;
    text-align: center;
    margin-bottom: 20px;
}

.number {
    font-size: 32px;
    font-weight: bold;
    color: var(--vermelho) 
}

.label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}