.container_img {
    margin: 0;
    margin-bottom: 20px;
    height: 700px;
}

.carousel_img {
    height: 100%; /* ou o tamanho que quiser */
    object-fit: cover;
    margin: 0;
    padding: 0;
    border: none;
  }

  .custom-caption h5 {
    color: var(--verde-escuro);
    font-weight: bold;
  }