.qr_code_container { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 20px;
}

.qr_code_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr_code {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.steps h3 {
  font-size: 1.2em;
  font-weight: 600;
}

.list {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list li{
  padding-left: 8px;
  text-align: start;
}

/* 📱 Responsividade para telas pequenas */
@media (max-width: 600px) {
  .qr_code_container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border: 0px;
    box-shadow: 0px 0px;
  }

  .steps h3 {
    margin-right: 0;
    font-size: 1rem;
  }

  .steps li {
    font-size: 0.9rem;
    text-align: start;
  }
} 