.container { 
    background-color: var(--azul);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;    
    padding-left: 10em;
    padding-right: 10em;
}

.lista { 
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 5em;
}

.item {
    margin-right: 2em;
}

.item a {
    color: var(--cinza);
    text-decoration: none;
    font-size: 1.3em;
}

.item a:hover {
    
    color: var(--verde-pastel);
}