.notice {
    width: 100%;
    background-color: #fff;
    margin: 0px;
  }
  
  .container {
    display: flex;
    padding: 40px 80px;
    justify-content: space-around;
    align-items: center;
  }

  p {
    width: auto;
  }
  
  .textSection {
    width: 50%;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 15px;
  }
  
  .textSection p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .dataSection {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .impactPhrase {
    text-align: center;
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
    margin-top: 40px;
  }