.notice {
    width: 100%;
    background-color: #fff;
    margin: 0px;
  }
  
  .container {
    display: flex;
    padding: 40px 80px;
    justify-content: space-around;
    align-items: center;
  }

  p {
    width: auto;
  }
  
  .textSection {
    width: 50%;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 15px;
  }
  
  .textSection p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .dataSection {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-evenly;
    grid-column: span 2; /* Para que fique ao lado do texto em telas médias+ */
  }
  
  .impactPhrase {
    text-align: center;
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
    margin-top: 40px;
  }

  @media (max-width: 768px) {
    .container {
      display: grid;
      max-width: 1200px;
      width: 100%;
      grid-template-columns: 1fr; /* Só uma coluna */
      padding: 0;
    }
  
    .textSection h2 {
      font-size: 1em;
    }

    .textSection {
      order: 1; /* Aparece primeiro */
      margin-top: 10px;
      margin-left: 5%;
      width: 350px;
    }
  
    .dataSection {
      order: 2; /* Aparece abaixo do texto */
      margin-top: 20px;
    }
  } 