.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }


  .instagram svg {
    color: #E1306C;
  }
  
  .facebook svg {
    color: #3b5998;
  }
  
  .phone svg {
    color: #25D366;
  }