* {
  margin: 0px;
  padding: 0px;
}

:root {
  --azul:#3567aa;
  --vermelho: #BF3F56;
  --verde-escuro: #62BF4A;
  --input-hover: #f0f0f0;
  --verde-pastel: #B8D8AF; 
  --cinza: #fff;
  --preto: #000000;
  --bs-body-bg: #17aa17; /* ou use sua variável --cinza */
}

body {
  background-color: var(--cinza) !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, a{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p, li {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}