.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 10px; /* Espaçamento reduzido */
    padding: 0; /* Remove espaçamento interno */
    margin: 0 auto; /* Centraliza */
    width: 100%; /* Ocupa a largura máxima */
    max-width: 1200px; /* Limita a largura */
    justify-content: center;
    align-items: center;
}

.containerNoNotice {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.containerNoNotice > img{
    width: 500px;
}


/* Responsividade */
@media (max-width: 1350px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, 1fr); /* 1 coluna em telas pequenas */
    }

    .containerNoNotice > img{
        width: 200px;
    }
}

.container_img {
    padding: 20px;
    display: flex;
    justify-content: center;
}