.card {
    width: 300px; /* Defina a largura do card */
    height: 465px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden; /* Garante que a imagem e os textos respeitem os limites do card */
    background: #fff; /* Fundo branco */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
}

.container_img {
    text-align: center;
    position: relative;
}

.container_img img {
    width: 100%; /* Imagem ocupando toda a largura */
    height: 350px; /* Altura ajustada automaticamente */
    display: block;
}

.icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.card:hover .icons {
    opacity: 1;
}

.icons svg {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    width: 28px;
    height: 100%;
    box-shadow:  0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.icons svg:hover {
    transform: scale(1.1);
    background-color: #f0e9e9;
}

.edit {
    color: var(--verde-escuro);
}

.delete {
    color: var(--vermelho);
}

.text {
    padding: 16px; /* Espaçamento interno */
    padding-top: 0px;
    text-align: center;
}

.text h2 {
    font-size: 1em;
    color: #333;
    margin-top: 1rem;
}

.text p {
    font-size: 14px;
    color: #777;
    margin-bottom: 1.6em;
}

.text span {
    font-size: 14px;
    font-weight: bold;
    color: var(--azul); /* Cor do link */
    transition: color 0.3s;
}

.text span:hover {
    color: var(--vermelho);
}